.forgot-password-page {
  background: linear-gradient(to bottom right, #3498db, #e74c3c);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Center content vertically and stack it */
  }
  
  .forgot-password-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(to bottom, #34db39, #038407);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center; /* Center text horizontally */
  }
  
  .forgot-password-container h2 {
    text-shadow: #020602;
    color: #ad0707;
    margin-bottom: 10px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="email"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .reset-password-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: auto;
    margin-top: 15px;
  }
  
  .reset-password-button:hover {
    background-color: #0056b3;
  }
  
  .message {
    text-align: center;
    margin-top: 15px;
    color: rgb(255, 2, 2);
  }
  
  .links-container {
    display: flex;
    flex-direction: column; /* Stack links vertically */
    margin-top: 15px;
    color: #020602;
  }
  
  .link {
    text-align: center;
    color: #020602;
    margin: 5px 0; /* Add margin between links */
  }
  .link a {
    color: black; /* Set the color to black */
    text-decoration: none; /* Remove the underline */
  }