/* RegistrationPage.css */

.registration-background {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #3498db, #e74c3c);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.registration-container {
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  background: linear-gradient(to bottom right, #3498db, #67ed77);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
}

/* Rest of your CSS styles */


.registration-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
}

.text-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.select-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.checkbox-input {
  display: flex;
  align-items: center;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}

.register-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #0056b3;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}

.link {
  text-align: center;
  margin-top: 10px;
}

/* Add more custom styles as needed */
